@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Caveat:wght@400&display=fallback');

@layer base;
@import './additional-styles/custom-fonts.css' layer(base);

@import 'tailwindcss';

@theme {
  --font-sans: "Satoshi", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-header: "Cabinet Grotesk", ui-sans-serif, system-ui, sans-serif;

}

@layer base {
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-header);
  }
  body {
    font-family: var(--font-sans);
  }
}

/* Additional styles */
@import './additional-styles/utility-patterns.css' layer(components);

@plugin '@tailwindcss/forms' {
  strategy: base;
}

@plugin '@tailwindcss/typography';
@plugin "daisyui" {
  themes: light --default, dark;
}

@plugin "daisyui/theme" {
  name: "dark";
  default: true;
  prefersdark: false;
  color-scheme: "dark";
  --color-base-100: #020712;
  --color-base-200: #101828;
  --color-base-300: #1e2939;
  --color-base-content: oklch(97.807% 0.029 256.847);
  --color-primary: #00BBA7;
  --color-primary-content: #020712;
  --color-secondary: #AC46FF;
  --color-secondary-content: oklch(94% 0.028 342.258);
  --color-accent: #00BBA7;
  --color-accent-content: #020712;
  --color-neutral: #615FFF;
  --color-neutral-content: oklch(92% 0.004 286.32);
  --color-info: oklch(74% 0.16 232.661);
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: oklch(76% 0.177 163.223);
  --color-success-content: oklch(37% 0.077 168.94);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(41% 0.112 45.904);
  --color-error: oklch(71% 0.194 13.428);
  --color-error-content: oklch(27% 0.105 12.094);
  --radius-selector: 2rem;
  --radius-field: 2rem;
  --radius-box: 2rem;
  --size-selector: 0.25rem;
  --size-field: 0.3125rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}


@plugin "daisyui/theme" {
  name: "light";
  default: false;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(98% 0 0);
  --color-base-300: oklch(95% 0 0);
  --color-base-content: oklch(21% 0.006 285.885);
  --color-primary: #00BBA7;
  --color-primary-content: #020712;
  --color-secondary: #AC46FF;
  --color-secondary-content: oklch(94% 0.028 342.258);
  --color-accent: #00BBA7;
  --color-accent-content: #020712;
  --color-neutral: #020712;
  --color-neutral-content: oklch(92% 0.004 286.32);
  --color-info: oklch(74% 0.16 232.661);
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: oklch(76% 0.177 163.223);
  --color-success-content: oklch(37% 0.077 168.94);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(41% 0.112 45.904);
  --color-error: oklch(71% 0.194 13.428);
  --color-error-content: oklch(27% 0.105 12.094);
  --radius-selector: 2rem;
  --radius-field: 2rem;
  --radius-box: 2rem;
  --size-selector: 0.25rem;
  --size-field: 0.3125rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}


@custom-variant dark (&:where(.dark, .dark *));

@source "../views/**/*.blade.php";
@source "../../../resources/views/**/*.blade.php";
@source "../../../extensions/**/*.blade.php";
@source "../../../extensions/Servers/Proxmox";
@source "../../../extensions/Others/Pages";

@theme {
  /* Font Family */
  --font-sans: "Satoshi", ui-sans-serif, system-ui, sans-serif;
  --font-inter: Inter, sans-serif;
  --font-orbiter: Orbiter, sans-serif;
  --font-caveat: Caveat, cursive;

  --text-xs: 0.75rem;
  --text-xs--line-height: 1.5;
  --text-sm: 0.875rem;
  --text-sm--line-height: 1.5715;
  --text-base: 1rem;
  --text-base--line-height: 1.5;
  --text-base--letter-spacing: -0.01em;
  --text-lg: 1.125rem;
  --text-lg--line-height: 1.5;
  --text-lg--letter-spacing: -0.01em;
  --text-xl: 1.25rem;
  --text-xl--line-height: 1.5;
  --text-xl--letter-spacing: -0.01em;
  --text-2xl: 1.5rem;
  --text-2xl--line-height: 1.415;
  --text-2xl--letter-spacing: -0.01em;
  --text-3xl: 1.875rem;
  --text-3xl--line-height: 1.333;
  --text-3xl--letter-spacing: -0.01em;
  --text-4xl: 2.25rem;
  --text-4xl--line-height: 1.277;
  --text-4xl--letter-spacing: -0.01em;
  --text-5xl: 3rem;
  --text-5xl--line-height: 1;
  --text-5xl--letter-spacing: -0.01em;
  --text-6xl: 3.75rem;
  --text-6xl--line-height: 1;
  --text-6xl--letter-spacing: -0.01em;
  --text-7xl: 4.5rem;
  --text-7xl--line-height: 1;
  --text-7xl--letter-spacing: -0.01em;

  --tracking-tighter: -0.02em;
  --tracking-tight: -0.01em;
  --tracking-normal: 0;
  --tracking-wide: 0.01em;
  --tracking-wider: 0.02em;
  --tracking-widest: 0.4em;

  --animate-shine: shine 4s ease infinite;

  @keyframes shine {
    0% {
      background-position: 150% 0;
    }
    25% {
      background-position: -50% 0;
    }
    100% {
      background-position: -50% 0;
    }
  }
  @keyframes wiggle {
    0%,
    100% {
      transform: rotate(-20deg);
    }
    50% {
      transform: rotate(20deg);
    }
  }
}

@theme inline {
  /* Branding Colors */
  --color-primary: #00BBA7;
  --color-secondary: #AC46FF;
  
  /* Neutral Colors */
  --color-neutral: #615FFF;
  
  /* Text Colors */
  --color-base: hsl(var(--color-base));
  --color-muted: hsl(var(--color-muted));
  --color-inverted: hsl(var(--color-inverted));
  
  /* State Colors */
  --color-success: oklch(76% 0.177 163.223);
  --color-error: oklch(71% 0.194 13.428);
  --color-warning: oklch(82% 0.189 84.429);
  --color-inactive: hsl(var(--color-inactive));
  --color-info: oklch(74% 0.16 232.661);
  
  /* Background Colors */
  --color-background: hsl(var(--color-background));
  --color-background-secondary: hsl(var(--color-background-secondary));
}

/*
The default border color has changed to `currentColor` in Tailwind CSS v4,
so we've added these compatibility styles to make sure everything still
looks the same as it did with Tailwind CSS v3.

If we ever want to remove these styles, we need to add an explicit border
color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }

  select,
  .form-select {
    min-height: 3rem;
  }
}

@utility container {
  @apply max-w-[1380px] mx-auto px-4 sm:px-6 lg:px-8;
}

@utility text-nowrap {
  text-wrap: nowrap;
}

@utility text-wrap {
  text-wrap: wrap;
}

@utility bg-textboxicon {
  @apply bg-neutral dark:bg-red-500;
}

@import './easymde.css';

::-webkit-scrollbar {
    background: transparent;
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-thumb {
    border: solid 0 rgb(0 0 0 / 0%);
    border-right-width: 4px;
    border-left-width: 4px;
    -webkit-border-radius: 9px 4px;
    -webkit-box-shadow: inset 0 0 0 1px hsl(var(--color-primary)), inset 0 0 0 4px hsl(var(--color-primary));
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-track-piece {
    background: transparent;
    margin: 4px 0;
}

::-webkit-scrollbar-thumb:horizontal {
    border-right-width: 0;
    border-left-width: 0;
    border-top-width: 4px;
    border-bottom-width: 4px;
    -webkit-border-radius: 4px 9px;
}

::-webkit-scrollbar-corner {
    background: transparent;
}

/* See Alpine.js: https://github.com/alpinejs/alpine#x-cloak */
[x-cloak=""] {
    display: none;
}

/* Swiper Custom Styles */
.swiper-pagination-bullet {
  @apply bg-white/50 opacity-100 transition-all duration-300;
}

.swiper-pagination-bullet-active {
  @apply bg-primary w-8 rounded-full;
}

.swiper-button-next,
.swiper-button-prev {
  @apply opacity-0 group-hover:opacity-100 transition-all duration-300;
}

.swiper-button-next {
  @apply translate-x-4 group-hover:translate-x-0;
}

.swiper-button-prev {
  @apply -translate-x-4 group-hover:translate-x-0;
}


